body{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navbar-admin {
  margin-left: 180px;
  margin-right: 180px;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  color: rgb(0, 0, 0);
  border-radius: 9px;
  align-items: center;
  height: 90px;
  background: hsla(113, 96%, 81%, 1);
  background: linear-gradient(90deg, hsla(113, 96%, 81%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(113, 96%, 81%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(113, 96%, 81%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ADFDA2", endColorstr="#11D3F3", GradientType=1 );
  margin-bottom: 10px;
}

#navbar-admin div{
  display: flex;
  justify-content: space-around;
 }

.cart-admin{
  width: 350%;
}

.logo-pic-admin {
  height: 70px;
}

.nav-button{
  margin-top: 10px;
}


.nav-list {
  margin-right: 10px;
  list-style-type: none;
  width: 100%;
  text-align: end;
}

.table{
  background-color: azure;
  }
#product-list .thead{
  margin-bottom: 20px;
}

#navbar-admin a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.add-product-container,
.edit-product-container {
  margin-top: 2%;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  margin-left: 11%;
}

.admin-container .header,
.admin-container .add-product-header,
.admin-container .edit-product-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 11%;
  color: white;
}

.add-product-form,
.edit-product-form {
  display: flex;
  flex-direction: column;
}
.add-product-form .item,
.edit-product-form .item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
  margin-left: 11%;
}

.add-product-form .item input,
.edit-product-form .item input {
  width: 60%;
  margin-left: 9px;
}
#description {
  margin-left: 10px;
}

.label-item {
  margin-top: 10px;
  color: white;
}

.hidden {
  display: none;
}

.success {
  background-color: lightgreen;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 14px;
}
.error {
  background-color: red;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 14px;
}
#product-list {
  width: 80%;
  margin: auto;
  margin-top: 14px;
}

.admin-container{
  color: white;
}