#navbar-admin {
  width: 80%;
  margin-left: 190px;
  grid-area: navbar;
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  align-items: center;
  height: 90px;
  background-color: #89cff0;
}

.logo-pic-admin {
  height: 70px;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  text-align: end;
}
.nav-list .btn btn-primary {
  display: inline;
  padding: 10px 10px;
  margin-left: 150px;
}
.nav-button {
  margin-left: 1200px;
}

#navbar-admin a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.header {
  margin-top: 15px;
}

.add-product-container {
  margin-top: 2%;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  margin-left: 11%;
}

.admin-container .header,
.admin-container .add-product-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 11%;
}

.add-product-form {
  display: flex;
  flex-direction: column;
}
.add-product-form .item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
  margin-left: 11%;
}

.add-product-form .item input {
  width: 60%;
  margin-left: 9px;
}
#description {
  margin-left: 10px;
}

.label-item {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.success {
  background-color: lightgreen;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 14px;
}
.error {
  background-color: red;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 14px;
}
#product-list {
  width: 80%;
  margin: auto;
  margin-top: 14px;
}
