body{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.product-details {
  display: flex;
  justify-content: center;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 40% !important;
  align-self: center;
}
#navbar-details {
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  border-radius: 9px;
  align-items: center;
  height: 90px;
  background: hsla(113, 96%, 81%, 1);
  background: linear-gradient(90deg, hsla(113, 96%, 81%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(113, 96%, 81%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(113, 96%, 81%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ADFDA2", endColorstr="#11D3F3", GradientType=1 );
  margin-bottom: 10px;
}
.card{
  box-shadow: rgba(118, 118, 215, 0.25) 0px 50px 100px -20px, rgba(164, 164, 164, 0.3) 0px 30px 60px -30px, rgba(29, 104, 180, 0.35) 0px -2px 6px 0px inset;
 30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
}
.logo-pic {
  height: 70px;
}
.nav-list {
  margin-right: 10px;
  list-style-type: none;
  width: 100%;
  text-align: end;
}
.nav-list .btn btn-primary {
  display: inline;
  padding: 10px 10px;
}
#navbar-details a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#navbar-details a:hover {
  color: rgb(0, 0, 0);
}
